/* Reset styling */
* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: rgba(213, 225, 239, 255);
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main {
   width: 90%;
   max-width: 300px;
   height: 450px;
   display: flex;
   align-items: center;
   text-align: center;
   flex-direction: column;
   background-color: rgba(255, 255, 255, 255);
   border-radius: 20px;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.385);
}

.top {
   margin-top: 10px;
}
.top img {
   width: 100%; 
   max-width: 280px;
   border-radius: 20px;
}

.bottom {
   display: grid;
   align-items: center;
   width: 90%;
   max-width: 250px;
   margin-top: 10px;
}
.bottom h2 {
   font-size: 1.2rem;
   font-weight: 700;
}
.bottom p {
   font-weight: 400;
   color: rgb(142, 142, 142);
   padding-top: 10px;
}

@media (max-width: 600px) {
   .main {
      width: 100%; 
      height: auto;
      padding: 20px;
      translate: 0 0; 
   }
   .bottom h2 {
      font-size: 1rem;
   }
   .bottom p {
      font-size: 0.9rem;
   }
}
